# --- BACKEND (.NET) ---
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userprefs
**/*.csproj.user


# --- DATABASE ---
*.db
*.db-shm
*.db-wal
*.db-journal


# --- Keep Migration folders in the repository ---
!Migrations/**


# --- FRONTEND (React) ---
node_modules/
build/
dist/
.env
.env.local
.npmrc
*.log
package-lock.json
yarn.lock


# --- GLOBAL ---
.vscode/
.DS_Store
Thumbs.db
*.swp
*.tmp


# GitHub Copilot
.vscode/copilot*
copilot*.json
copilot*.log
**/CopilotIndices


# IDE/Visual Studio temp folders
**/DesignTimeBuild/
**/v17/
**/ProjectEvaluation/
**/filecontentindex/